/* Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Montserrat', sans-serif;
}
.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
/* // Small devices (landscape phones, 576px and up) */
/* @media (min-width : 576px) {
    .container {
        width: 555px;
    } */
/* // Medium devices (tablets, 768px and up) */
@media (min-width : 768px) {
    .container {
        width: 750px;
    }
}
/* // Large devices (desktops, 992px and up) */
@media (min-width : 992px) {
    .container {
        width: 970px;
    }
}
/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width : 1200px) {
    .container {
        width: 1170px;
    }
}
/*Compenents */
.special-heading {
    color: #535558;
    font-size: 60px;
    font-weight: 800;
    text-align: center;
    margin: -20px;
    margin-top: 0;
}
.special-heading + p {
    margin: 18px 0 0;
    font-size: 14px;
    text-align: center;
    font-weight: 600;
}
@media (max-width:767px) {
    .special-heading {
        font-size: 50px;
    }
}
/* Header */
.header {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.95); 
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .name {
    color: white;
    font-weight: bold;
    margin: -4px;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
    justify-content: flex-end;
}
.header .links {
    position: relative;
}
.header .links:hover .icon span:nth-child(2) {
    width: 100%;
}
.header .links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.header .links .icon span {
    background-color: white;
    margin-bottom: 5px;
    height: 2px;
    width: 100%;
}
.header .links .icon span:nth-child(2) {
        width: 60%;
        transition: 0.3s;
}
.header .links ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    background-color: #f6f6f6;
    position: absolute;
    right: 0;
    min-width: 200px;
    top: calc(100% + 15px);
    display: none; 
    z-index: 1;
}
.header .links ul::before {
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #f6f6f6 transparent;
    position: absolute;
    right: 5px;
    top: -20px;
}
.header .links:hover ul {
    display: block;
}
.header .links ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #333;
    transition: 0.3s;
}
.header .links ul li a:hover {
    padding-left: 25px;
}
.header .links ul li:not(:last-child) a{
    border-bottom: 1px solid #DDD;
}
/* Landing */
.landing {
    background-image: url(../images/pexels-pixabay-46148.jpg) ;
    background-size: cover;
    height: calc(100vh - 78px);
    position: relative;
    transition: 0.01s;
}
.landing .name  {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    
}
.landing .name h1 {
    margin: 0;
    color: white;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
    font-size: 64px;  
    filter: drop-shadow(2px 4px 6px black);
}
.landing .name p {
    margin: 0;
    font-weight: bold;
    color: white;
    font-size: 19px;
    line-height: 1.8;
    filter: drop-shadow(1px 2px 3px black);
}
/* Features */
.features {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f6f6f6;
}
.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    gap: 20px;
}
.features .feat {
    padding: 20px;
    text-align: center;
}
.features .feat h3 {
    font-weight: 800;
    margin: 30px 0;
}
.features .feat p {
    line-height: 1.8;
    font-size: 17px;
}
.features .feat img {
    width: 220px;
    height: 200px;
    border-radius: 50%;
}
/* Services */
.services {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: white;
    margin-bottom: 50px;
}
.services .services-content .col {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(293px,auto));
    gap: 30px;
    margin-top: 100px;
}
.services .services-content .serv {
    display: flex;
    margin-bottom: 20px;
}
@media (max-width: 767px) {
    .services .services-content .serv {
        flex-direction: column;
        text-align: center;
    }
}

.services .services-content .col i {
    color: tomato;
    flex-basis: 28px;
}
.services .services-content .col .text {
    flex: 1;
}
.services .services-content .col .text img {
    height: 200px;
    width: 220px;
    border-radius: 50%;
    margin-top: 20px;
}
.services .services-content .serv .text h3 {
    margin: 0;
}
.services .services-content .serv .text p {
    line-height: 1.7;
    color: #333;
}
/* About */
.about {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f6f6f6;
}
.about .about-content {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
@media (max-width: 991px) {
    .about .about-content {
        flex-direction: column;
        text-align: center;
    }
}
@media (max-width: 991px) {
    .about .about-content .image {
        margin: 0 auto 60px;
    }
}
.about .about-content .image img {
    max-width: 85%;
}
.about .about-content .text {
    flex-basis: calc(100% - 500px);
}
.about .about-content .text p:first-of-type {
    font-weight: bold;
    line-height: 2;
    margin-bottom: 50px;
    font-size: 18px;
}
.about .about-content .text hr {
    width: 50%;
    display: inline-block;
    border-color: cornflowerblue;
}
.about .about-content .text p:last-of-type {
    line-height: 2;
    color: #333;
}
/* Contact */
.contact {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: white;
}
.contact .info {
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
}
.contact .info .label {
    font-size: 30px;
    font-weight: 800;
    color: #183153 ;
    letter-spacing: -2px;
    margin-bottom: 15px;
}
.contact .info .link {
    display: block;
    font-size: 25px;
    font-weight: 800;
    text-decoration: none;
    color: #15d3a5;
}
.contact .info .social {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 17px;
}
.contact .info .social i {
    margin-left: 10px;
    color: #183153;
}
/* Footer */
.footer {
    background-color: #183153;
    color: white;
    padding: 30px 10px;
    text-align: center;
    font-size: 18px;
}
.footer span {
    font-weight: bold;
    color: #15d3a5;
}